<div class="list-group">
    <a *ngFor="let post of posts" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <img src="assets/img/red-dead-redemption-2-ultimate-edition-steel-book-ps4.jpg" style="width: 140px;height: 160px;">
          <div style="height: 150px;width: 900px;padding-left: 24px;">
            <h5 class="mb-1">{{post.title}}</h5>
            <p class="mb-1">{{post.description}}</p>
            <small>read more...</small>
          </div>
            <div class="alert alert-success" role="alert" style="padding-right: 3px;padding-left: 3px;padding-top: 3px;padding-bottom: 3px;height: 56px;">{{post.price}}</div>
        </div>
    </a>
</div>
